{% extends 'base.html' %}
{% load static %}

{% block content %}
<div class="container mt-5">
    

    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Batch No</th>
                    <th>Date</th>
                    <th>Session</th>
                    <th>Lab Venue</th>
                    <th>Student Strength</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for record in allocations %}
                    <tr>
                        <td>{{ record.lab_details.course_code }}</td>
                        <td>{{ record.lab_details.course_name }}</td>
                        <td>{{ record.lab_details.batch_no }}</td>
                        <td>{{ record.date|date:"F d, Y" }}</td>
                        <td>{{ record.session }}</td>
                        <td>{{ record.lab_venue }}</td>
                        <td>{{ record.student_strength }}</td>
                        <td>
                            <a href="{% url 'generate_credentials_excel' record.id %}" class="btn btn-success btn-sm">Generate</a>
                        </td>
                        

                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="8" class="text-center">No records found.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}
